<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blogski</title>
  <script src="https://kit.fontawesome.com/cd70daec9e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/headerandfooterStyle.css">
</head>
<body>
  {{{ body }}}
</body>
<script src="/js/navbar.js"></script>
<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/newPost.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/LikeandDislike.js"></script>
</html>
